*~
*.bak
*.rdb
*.log

.git/
.idea/

node_modules/
libs/BACKUP-OLD
website/static/OLD

website/pages/news.html

certs/*.pem
certs/*.crt
certs/*.key
logs/*

package-lock.json
ecosystem.config.js

access-token
config.json
lzCode.conf
matomoCode.conf

pool_configs/*.json
!pool_configs/*_example.json

!.gitkeep
