*~
*.bak
*.rdb
*.log

.git/
.idea/

node_modules/
libs/
website/static/

website/pages/news.html

certs/*.pem
certs/*.crt
certs/*.key
logs/*

package-lock.json

access-token
config.json
lzCode.conf
matomoCode.conf

pool_configs/*.json
!pool_configs/*_example.json

!.gitkeep
